<%- include('head') -%>

<!doctype html>
<title>Photo's - PhotoMatch</title>

<%- include('header') -%>

<main>

    <section>
    <% for (var index=0; index < data.length; index++) { %>
        <% if (data[index].media_type==='IMAGE' || data[index].media_type==='CAROUSEL_ALBUM' ) { %>
            <form action="/clicked" method="POST">
                <img class="postImg" id="photo" src="<%= data[index].media_url%>">
                <input type="hidden" value="<%= data[index].media_url%>" name="photoUrl">

                <button id="myButton">
                    <img class="likeImg" src="/images/heart.png" alt="like heart">
                </button>
            </form>
    <% } } %>
    </section>
    <!-- Url saving spot -->
    <p id="urlSection" name="urlCurrent"></p>
</main>

<script src="/scripts/clickPhoto.js"></script>
<%- include('footer') -%>